@import url("https://fonts.googleapis.com/css2?family=Nixie+One&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "open sans", sans-serif;
  font-size: 12px;
}

h1 {
  font-family: "Nixie One", sans-serif;
  font-size: 6em;
  color: #ff7c53;
  font-weight: bold;
}

h2 {
  font-size: 1em;
}

a {
  font: inherit;
  color: inherit;
}

a:hover {
  color: #cd6509;
}

body {
  padding: 20px;
}

header {
  margin-bottom: 20px;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
}

.panel {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.btn {
  border-radius: 6px;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  background: #3e3e3e;
  position: relative;
  display: inline-block;
  border: 1px solid #555;
  transition: background-color 100ms ease-in-out;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: center;

  svg {
    height: 16px;
  }
}

.btn:hover {
  color: white;
  background: #5a5a5a;
}

.btn:active {
  background: #888;
  border-color: #888;
}

canvas {
  position: absolute;
  inset: 0;
}
